/* Settings Page Dashboard */
#dashboard_main {
	width: 100%;
	border: solid black 1px;
}

.onequarter {
	float: left;
	width: 24%;
}

.onethird {
	float: left;
	width: 33%;
}

.twothirds {
	float: left;
	width: 66%;
}

.guage {
	border: solid black 2px;
	width: 80%;
	border-radius: 0%;
	padding: 2px 2px;
	margin: 0px auto;
}

.guage-filling {
	border: solid red 2px;
	background: red;
	width: 5%;
	border-radius: 0%;

}
