
/* Settings Page Dashboard */
#dashboard_main {
	width: 100%;
	clear: both;
	overflow-y: hidden;
}

.onequarter {
	float: left;
	width: 24%;
}

.onethird {
	float: left;
	width: 33%;
}

.tablesthird {
	float: left;
	width: 32%;
}

.half {
	float: left;
	width: 48%;
}

	.half h3 {
		margin-top: 0px;
	}

.left_half {
		margin-right: 10px;
}

#second_gauge_row {
	opacity: 0.5;
}


.ui-state-active, .ui-state-active a {
	background: #007FFF !important;
	color: white !important;
}

.twothirds {
	float: left;
	width: 65%;
}


.cell {
	margin-bottom: 1%;
}

	.cell h3 {
		text-align: center;
		font-family: sans-serif;
		font-size: 15px;
		color: #999999;
		margin-bottom: 5%;
		margin-top: 10px;
	}

	#gauge {
			width: 300px;
			height: 300px;
	}

.at_table {
	display: block;
	height: 500px;
	overflow-y: scroll;
	margin-bottom: 39px
}

.at_half_table {
	display: block;
	height: 225px;
	overflow-y: scroll;
}

.indicator {
	width: 50%;
	margin-top: 15%;
	margin: 0px auto;
	padding: 10px 10px;
}

		.inner_indicator {
			text-align: center;
			width: 50%;
			margin: 0px auto;
			font-size: 12px;
		}

		.cell p {
			text-align: center;
			width: 100%;
			margin: 0px auto;
			color: black;
			font-size: 12px;
			margin: 1% 0px;
		}

				.indicator_light {
					width: 35px;
					height: 35px;
					float: left;
					background: #EDEBEB;
					border-radius: 100%;
					margin-right: 5%;
				}

#php_action_field {
		text-align: center;
		font-size: 18px;
		background: rgb(1, 252, 39);
	}

.overall {
	font-size: 58px;
	text-align: center;
}

	#ssl_note {
		font-size: 12px;
	}

	/* Small Desktop Resized ----------- */
@media only screen and (max-width : 2230px) {

	.indicator_light {
		width: 25px;
		height: 25px;

	}

}

	/* Small Desktop ----------- */
@media only screen and (max-width : 1366px) {

table.widefat th, table.widefat td { font-size: 12px!important;  }

	.tablesthird {
		width: 100%;
		float: none;
		margin: 0px auto;
	}

	.twothirds {
		width: 99%;
	}

	.half {
	    width: 48%;
	}

	.indicator {
		padding-top: 30px;
	}

		.indicator_light {
			width: 18px;
			height: 18px;

		}

}

/* iPad ----------- */
@media only screen and (max-width : 1024px) {

	#gauge {
			width: 100px;
			height: 100px;
	}

}

/* iPhone ----------- */
@media only screen and (max-width : 640px) {

	.onequarter {
		float: left;
		width: 50%;
	}

	#gauge {
			width: 300px!important;
			height: 300px!important;
	}

	.indicator_light {
		margin-bottom: 10px;
	}

}

/* Low-end Windows Phone ----------- */
@media only screen and (max-width : 640px) {

	#gauge {
			width: 20px;
			height: 20px;
	}

	#php_action_field {
		width: 95%;
		font-size: 10px;
	}

}

/* HGVA (old iPhones, small androids, etc) ----------- */
@media only screen and (max-width : 640px) {

	.indicator {
		padding-top: 10px;
	}

	#gauge {
			width: 10px;
			height: 10px;
	}



}
