/* Settings Page Dashboard */
#dashboard_main {
	width: 100%;

	clear: both;
	overflow-y: hidden;
}

.onequarter {
	float: left;
	width: 24%;
}

.onethird {
	float: left;
	width: 33%;
}

.half {
	float: left;
	width: 49%;
}

.left_half {
		margin-right: 10px;
}

.twothirds {
	float: left;
	width: 65%;

}

.guage {
	border: solid black 2px;
	width: 80%;
	border-radius: 0%;
	padding: 2px 2px;
	margin: 0px auto;
}

.cell {
	margin-bottom: 4%;
}

	.cell h3 {
		text-align: center;
		color: #999999;
		margin-bottom: 5%;
	}

.guage_filling {
	background: red;
	padding: 5px 5px;
	width: 40%;
	border-radius: 0%;
}

.at_table {
	display: block;
	height: 500px;
	overflow-y: scroll;
}

.indicator {
	width: 50%;
	margin-top: 15%;
	margin: 0px auto;
	padding: 10px 10px;
}

		.indicator_light {
			width: 35px;
			height: 35px;
			float: left;
			background: #EDEBEB;
			border-radius: 100%;
			margin-right: 5%;
		}

.overall {
	font-size: 48px;
	text-align: center;
}
