/* Settings Page Dashboard */
#dashboard_main {
	width: 100%;
	clear: both;
	overflow-y: hidden;
}

.onequarter {
	float: left;
	width: 24%;
}

.onethird {
	float: left;
	width: 33%;
}

.half {
	float: left;
	width: 49%;
}

	.half h3 {
		margin-top: 0px;
	}

.left_half {
		margin-right: 10px;
}

.twothirds {
	float: left;
	width: 65%;

}


.cell {
	margin-bottom: 1%;
}

	.cell h3 {
		text-align: center;
		font-family: sans-serif;
		font-size: 15px;
		color: #999999;
		margin-bottom: 5%;
		margin-top: 10px;
	}


.at_table {
	display: block;
	height: 500px;
	overflow-y: scroll;
	margin-bottom: 39px
}

.at_half_table {
	display: block;
	height: 225px;
	overflow-y: scroll;
}

.indicator {
	width: 50%;
	margin-top: 15%;
	margin: 0px auto;
	padding: 10px 10px;
}

		.inner_indicator {
			text-align: center;
			width: 50%;
			margin: 0px auto;
			font-size: 12px;
		}

		.cell p {
			text-align: center;
			width: 100%;
			margin: 0px auto;
			color: black;
			font-size: 12px;
			margin: 1% 0px;
		}

				.indicator_light {
					width: 35px;
					height: 35px;
					float: left;
					background: #EDEBEB;
					border-radius: 100%;
					margin-right: 5%;
				}

	.timeline_canvas {
		border: solid black 1px;
		width: 100%;
	}

.overall {
	font-size: 58px;
	text-align: center;
}

	#ssl_note {
		font-size: 12px;
	}
